{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomiko - Главная</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}"> <!-- Подключение стилей для home -->
</head>
<body>

    {% include 'header.html' %} <!-- Подключение шапки -->

    {% block content %}
    <h1>Добро пожаловать на сайт Tomiko!</h1>
    <p>Ищите авто из Японии, Кореи или Китая?</p>
    {% endblock %}
    
</body>
</html>
